@use "variables";

.wrapper {
  width: 100%;
  height: calc(100vh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question_card {
  border-radius: 14px;
  box-shadow:
    0px 73px 20px 0px #14141400,
    0px 47px 19px 0px #14141403,
    0px 26px 16px 0px #1414140d,
    0px 12px 12px 0px #14141417,
    0px 3px 6px 0px #1414141a;
  display: flex;
  flex-direction: column;
  .answers {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .active_chip {
      color: var(--mui-palette-text-primary);
      background: var(
        --mui-palette-text-tertiary
      );
    }
    .value_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      &.active {
        cursor: pointer;
        border-bottom: 1px solid
          var(--mui-palette-text-primary);
      }
    }
  }
  .button {
    min-width: 200px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.label {
  margin: 0px;
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .wrapper {
    justify-content: start;
  }
  .question_card {
    width: calc(100vw - 40px);
    padding: 20px 15px 30px;
    margin-top: 20px;
    gap: 20px;
    .button {
      min-width: calc(50% - 10px);
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .question_card {
    width: 540px;
    padding: 35px 60px 60px;
    margin-top: 45px;
    gap: 30px;
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .wrapper {
    justify-content: center;
  }
  .question_card {
    width: 600px;
    gap: 50px;
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
