@use "variables";

.teachers_wrapper {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 25px 30px;
}

@media (min-width: variables.$theme-breakpoint-xs) {
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
