@use "variables";

.course_card {
  min-height: 280px;
  cursor: pointer;
  border-radius: 20px;
  background: var(--mui-palette-common-white);
  box-shadow:
    -4px 4px 8px 0px #aeaeae33,
    4px -4px 8px 0px #aeaeae33,
    -4px -4px 8px 0px #ffffffe5,
    4px 4px 10px 0px #aeaeaee5;
  display: flex;
  justify-content: space-between;
  > :nth-child(1) {
    align-items: flex-start;
  }
  > :nth-child(2) {
    align-items: flex-end;
  }
  .price {
    width: fit-content;
    padding: 8px 10px;
    border-radius: 10px;
    background: var(--mui-palette-primary-main);
  }
  .flex_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .course_card {
    width: 100%;
    padding: 24px;
    flex-wrap: wrap;
    .price {
      margin-top: 20px;
    }
    .flex_box {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media (min-width: 350px) {
  .course_card {
    .flex_box {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .course_card {
    width: calc(50% - 15px);
    .price {
      margin-top: 0px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .course_card {
    width: 645px;
    padding: 30px;
    flex-direction: column;
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
