@use "variables";

.authentication_wrapper {
  max-width: 520px;
  padding: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  .white_button {
    width: 100%;
    display: flex;
    text-transform: none;
  }
  .divider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    .line {
      width: 100%;
      height: 2px;
      background: variables.$theme-color-grey-coal;
    }
  }
}
