@use "variables";

.label {
  position: absolute;
  bottom: -10px;
  left: -10px;
  background: white;
  border: 10px solid white;
  border-top-right-radius: 20px;
  .profile_image {
    border-radius: 50%;
  }
  &::before {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 10px white;
  }
  &::after {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    bottom: 0;
    right: -45px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 10px white;
  }
  &.primary {
    .label::before,
    .label::after {
      background: var(--mui-palette-primary-main);
    }
  }
  &.secondary {
    .label::before,
    .label::after {
      background: var(
        --mui-palette-secondary-main
      );
    }
  }
}
@media (min-width: variables.$theme-breakpoint-xs) {
  .card {
    min-width: calc(100vw - 40px);
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
