@use "variables";

.drawer_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_link {
  border-radius: 8px;
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .nav_link {
    width: 100%;
  }
  .nav_link.active {
    color: var(--mui-palette-primary-main);
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
