@use "variables";

.header {
  position: relative;
  background: #ffffff;
  box-shadow: variables.$theme-header-box-shadow;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .arrow_left_icon {
    filter: invert(84%) sepia(0%) saturate(993%)
      hue-rotate(137deg) brightness(78%)
      contrast(89%);
  }
  .append_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .header {
    min-height: 72px;
    padding: 11px 20px;
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .header {
    min-height: 80px;
    padding: 16px 24px;
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
