@use "variables";

.header {
  position: relative;
  background: #ffffff;
  box-shadow: variables.$theme-header-box-shadow;
  .go_back_button {
    position: absolute;
    .arrow_left_icon {
      filter: invert(84%) sepia(0%) saturate(993%)
        hue-rotate(137deg) brightness(78%)
        contrast(89%);
    }
  }
  .append_wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .header {
    min-height: 72px;
    padding: 20px;
    .menu_button,
    .go_back_button {
      padding: 2px;
    }
    .go_back_button {
      left: 20px;
    }
    .append_wrapper {
      right: 20px;
    }
    .go_back_button,
    .append_wrapper {
      top: 20px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .header {
    min-height: 80px;
    padding: 24px;
    .menu_button,
    .go_back_button {
      padding: 4px;
    }
    .go_back_button {
      left: 24px;
    }
    .append_wrapper {
      right: 24px;
    }
    .go_back_button,
    .append_wrapper {
      top: 24px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
