@use "variables";

.page_heading {
  position: relative;
  width: 100vw;
  border-radius: 0px 0px 30px 30px;
  overflow: hidden;
  .bg_image {
    object-fit: cover;
    z-index: -1;
  }
  .title {
    max-width: 880px;
    font-weight: 900;
  }
  .subtitle {
    max-width: 660px;
    font-weight: 400;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .page_heading {
    padding: 85px 15px 30px;
    .title {
      font-size: 22px;
    }
    .subtitle {
      padding: 10px;
      font-size: 18px;
      border-radius: 15px;
      opacity: 1;
      background: #dfdfdf33;
      backdrop-filter: blur(25px);
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .page_heading {
    .title {
      font-size: 30px;
    }
    .subtitle {
      padding: 0px;
      font-size: 20px;
      background: transparent;
      backdrop-filter: none;
      opacity: 0.7;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .page_heading {
    min-height: 628px;
    padding: 140px 30px;
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .page_heading {
    .title {
      font-size: 36px;
    }
    .subtitle {
      font-size: 22px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
