@use "variables";

.recommendation_card {
  position: relative;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  .content {
    width: 100%;
    height: 100%;
    padding: 30px 20px 20px;
    background: linear-gradient(
      180deg,
      rgba(29, 165, 153, 0.6) 0%,
      rgba(255, 136, 45, 0.6) 99.99%
    );
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .title {
      text-shadow:
        1px 1px 2px 0px #a5d8cb4d,
        -1px -1px 2px 0px #a1d4c780,
        -1px 1px 2px 0px #a1d4c733,
        1px -1px 2px 0px #a1d4c733,
        -1px -1px 2px 0px #a5d8cbe5,
        1px 1px 3px 0px #a1d4c7e5;
    }
    .description {
      text-shadow:
        1px 1px 2px 0px #ffc28a4d,
        -1px -1px 2px 0px #ffc28a80,
        -1px 1px 2px 0px #ffc28a33,
        1px -1px 2px 0px #ffc28a33,
        -1px -1px 2px 0px #ffc28ae5,
        1px 1px 3px 0px #ffc28ae5;
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .recommendation_card {
    min-width: calc(100vw - 30px);
    min-height: 200px;
    .media {
      height: 200px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .recommendation_card {
    min-width: 360px;
    min-height: 260px;
    .media {
      height: 260px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .recommendation_card {
    min-width: 400px;
    min-height: 200px;
    .media {
      height: 200px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
