@use "variables";

.question_card {
  border-radius: 14px;
  box-shadow:
    0px 73px 20px 0px #14141400,
    0px 47px 19px 0px #14141403,
    0px 26px 16px 0px #1414140d,
    0px 12px 12px 0px #14141417,
    0px 3px 6px 0px #1414141a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .answers {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .question_card {
    min-height: 540px;
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
