@use "variables";

.course_card {
  position: relative;
  min-height: 280px;
  border-radius: 20px;
  background: var(--mui-palette-common-white);
  box-shadow:
    -4px 4px 8px 0px #aeaeae33,
    4px -4px 8px 0px #aeaeae33,
    -4px -4px 8px 0px #ffffffe5,
    4px 4px 10px 0px #aeaeaee5;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  > :nth-child(1) {
    align-items: flex-start;
  }
  > :nth-child(2) {
    align-items: flex-end;
  }
  .level {
    width: fit-content;
    padding: 8px 10px;
    border-radius: 10px;
    background: var(--mui-palette-primary-main);
    .text {
      white-space: nowrap;
    }
  }
  .flex_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .lesson_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .progress_bar {
    position: absolute;
    inset: 0px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .course_card {
    width: 100%;
    padding: 24px;
    flex-wrap: wrap;
    .lesson_wrapper {
      margin-top: 20px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .course_card {
    .flex_box {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .course_card {
    width: calc(50% - 20px);
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .course_card {
    width: 645px;
    padding: 30px;
    flex-direction: column;
    .lesson_wrapper {
      margin-top: 30px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
