@use "variables";

.card_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  .image_wrapper {
    min-width: 400px;
    height: 260px;
    border-radius: 26px;
    position: relative;
    overflow: hidden;
    .content {
      position: absolute;
      inset: 0px;
      z-index: 2;
      .button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
      }
    }
    .overlay {
      position: absolute;
      inset: 0px;
      z-index: 1;
    }
    &.primary .overlay {
      background: linear-gradient(
        180deg,
        rgba(29, 165, 153, 0.6) 0%,
        rgba(255, 136, 45, 0.6) 99.99%
      );
    }
    &.secondary .overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 136, 45, 0.6) 0%,
        rgba(29, 165, 153, 0.6) 100%
      );
    }
  }
  .content_wrapper {
    width: 100%;
    padding: 30px;
    border-radius: 14px;
    box-shadow: variables.$theme-card-box-shadow;
  }
}

.icon_banners_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: variables.$theme-breakpoint-xs) {
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .icon_banners_wrapper {
    padding: 0px 95px;
    gap: 50px;
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
