@use "variables";

.card_item {
  .image_wrapper {
    height: auto;

    position: relative;
    overflow: hidden;
    .content {
      position: absolute;
      inset: 0px;
      z-index: 2;
      .button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
      }
    }
    .overlay {
      position: absolute;
      inset: 0px;
      z-index: 1;
    }
    &.primary .overlay {
      background: linear-gradient(
        180deg,
        rgba(29, 165, 153, 0.6) 0%,
        rgba(255, 136, 45, 0.6) 99.99%
      );
    }
    &.secondary .overlay {
      background: linear-gradient(
        180deg,
        rgba(255, 136, 45, 0.6) 0%,
        rgba(29, 165, 153, 0.6) 100%
      );
    }
  }
  .content_wrapper {
    width: 100%;

    border-radius: 14px;
    box-shadow: variables.$theme-card-box-shadow;
  }
}

.icon_banners_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.broadcast_wrapper {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .card_item {
    .image_wrapper {
      min-width: 100%;
      min-height: 260px;
      border-radius: 26px 26px 0px 0px;
    }
    .content_wrapper {
      padding: 0px;
    }
  }
  .icon_banners_wrapper {
    padding: 0px 15px;
    gap: 15px;
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .card_item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    .image_wrapper {
      min-width: 400px;
      min-height: 260px;
      border-radius: 26px;
    }
    .content_wrapper {
      padding: 30px;
    }
  }
  .icon_banners_wrapper {
    padding: 0px 30px;
    gap: 30px;
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .icon_banners_wrapper {
    padding: 0px 95px;
    gap: 50px;
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
