@use "variables";

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &.transparent {
    background: transparent;
  }
  &.white {
    background: white;
    box-shadow: variables.$theme-header-box-shadow;
  }
  .nav_link {
    width: fit-content;
    padding: 6.5px 10px;
    border-radius: 8px;
  }
}

.drawer_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  &:hover {
    .clickable {
      text-decoration: underline;
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .header {
    min-height: 72px;
    padding: 8px 20px;
    &.white,
    &.transparent {
      .nav_link.active {
        color: var(--mui-palette-primary-main);
      }
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .header {
    min-height: 80px;
    padding: 12px 24px;
    &.white,
    &.transparent {
      .nav_link.active {
        background: var(
          --mui-palette-primary-main
        );
      }
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
