@use "variables";

.modal {
  .content {
    .header {
      position: relative;
      padding: 24px;
      background: #ffffff;
      box-shadow: variables.$theme-header-box-shadow;
      .close_button {
        padding: 4px;
        position: absolute;
        top: 24px;
        left: 24px;
      }
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .modal {
    .content {
      min-width: 800px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
