@use "variables";

.card {
  height: auto;
  border-radius: 14px;
  box-shadow: variables.$theme-card-box-shadow;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .requisite_img {
      width: 140px;
      height: 140px;
      border-radius: 26px;
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .card {
    min-width: 260px;
    width: 260px;
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
