@use "variables";

.page {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: #ffffff03;
  }
  .main_bg {
    object-fit: cover;
    z-index: 1;
  }
  .content {
    width: 100%;
    max-width: 520px;
    z-index: 3;
  }
  .paper {
    position: relative;
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .go_back_button {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .white_button {
      width: 100%;
      display: flex;
      text-transform: none;
    }
    .divider {
      width: 100%;
      max-width: 400px;
      display: flex;
      align-items: center;
      gap: 5px;
      .line {
        width: 100%;
        height: 2px;
        background: var(
          --mui-palette-text-tertiary
        );
      }
    }
  }
  .link_text {
    cursor: pointer;
  }
  .link_text:hover {
    text-decoration: underline;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .page {
    .paper {
      padding: 50px 15px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .page {
    .paper {
      padding: 50px 40px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .page {
    .paper {
      padding: 50px 60px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
