@use "variables";

.courses_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.course_heading {
  iframe {
    width: 100%;
    height: 70vh;
    background: black;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
.objective {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 14px;
  background: var(--mui-palette-secondary-main);
}

.accordeons {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.flex_box {
  display: flex;
  align-items: center;
}

.lesson_wrapper {
  display: flex;
  iframe {
    background-color: black;
  }
  .list,
  .text_of_the_lesson {
    width: 100%;
    overflow: auto;
    padding-right: 10px;
  }
  .wrapper {
    margin-top: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .text_of_the_lesson {
    position: relative;
    margin: 10px 0px;
    padding: 9px;
    padding-left: 0px;
  }
}

.questions {
  .input_wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background: variables.$theme-color-white-smoke;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.courses_wrapper {
  padding: 20px;
  max-width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.tube_spinner_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .page {
    padding: 20px 30px;
  }
  .courses_wrapper {
    gap: 30px;
  }
  .lesson_wrapper {
    min-height: 400px;
    gap: 30px;
    iframe {
      width: 100%;
      height: 400px;
    }
    .list {
      max-height: 325px;
      margin-top: 25px;
    }
    .text_of_the_lesson {
      max-height: 285px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .page {
    padding: 20px 50px;
  }
  .courses_wrapper {
    gap: 50px;
  }
  .lesson_wrapper {
    min-height: 440px;
    gap: 50px;
    iframe {
      width: calc(60% - 25px);
      height: 440px;
    }
    .list {
      max-height: 365px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
