@use "variables";

.recommendation_card {
  position: relative;
  min-height: 200px;
  height: auto;
  border-radius: 36px;

  .media {
    height: 200px;
  }
  .content {
    width: 100%;
    height: 100%;
    padding: 30px 20px 20px;
    background: linear-gradient(
      180deg,
      rgba(29, 165, 153, 0.6) 0%,
      rgba(255, 136, 45, 0.6) 99.99%
    );
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .title {
      text-shadow:
        1px 1px 2px 0px #a5d8cb4d,
        -1px -1px 2px 0px #a1d4c780,
        -1px 1px 2px 0px #a1d4c733,
        1px -1px 2px 0px #a1d4c733,
        -1px -1px 2px 0px #a5d8cbe5,
        1px 1px 3px 0px #a1d4c7e5;
    }
    .description {
      text-shadow:
        1px 1px 2px 0px #ffc28a4d,
        -1px -1px 2px 0px #ffc28a80,
        -1px 1px 2px 0px #ffc28a33,
        1px -1px 2px 0px #ffc28a33,
        -1px -1px 2px 0px #ffc28ae5,
        1px 1px 3px 0px #ffc28ae5;
    }
  }
}

.courses_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.course_heading {
  video {
    width: 100%;
    height: 60vh;
    background: black;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
.objective {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 14px;
  background: var(--mui-palette-secondary-main);
}

.accordeons {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.flex_box {
  display: flex;
  align-items: center;
}

.lesson_wrapper {
  display: flex;
  video {
    background-color: black;
  }
  .list,
  .text_of_the_lesson {
    width: 100%;
    overflow: auto;
    padding-right: 10px;
  }
  .wrapper {
    margin-top: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .text_of_the_lesson {
    position: relative;
    margin: 10px 0px;
    padding: 9px;
    padding-left: 0px;
  }
}

.questions {
  .input_wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background: variables.$theme-color-white-smoke;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .page {
    padding: 20px 30px;
  }
  .recommendation_card {
    min-width: calc(100vw - 30px);
  }
  .courses_wrapper {
    gap: 30px;
  }
  .lesson_wrapper {
    gap: 30px;
    video {
      width: 100%;
      height: 400px;
    }
    .list {
      max-height: 325px;
      margin-top: 25px;
    }
    .text_of_the_lesson {
      max-height: 285px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
  .recommendation_card {
    min-width: 370px;
  }
}
@media (min-width: variables.$theme-breakpoint-md) {
  .page {
    padding: 20px 50px;
  }
  .recommendation_card {
    min-width: 400px;
  }

  .courses_wrapper {
    gap: 50px;
  }
  .lesson_wrapper {
    gap: 50px;
    video {
      width: calc(60% - 25px);
      height: 440px;
    }
    .list {
      max-height: 365px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
