@use "variables";

.page {
  min-height: calc(100vh - 250px);
}

.courses_wrapper {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-wrap: wrap;
}

.course_heading {
  iframe {
    width: 100%;
    height: 70vh;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
.objective {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 14px;
  background: var(--mui-palette-secondary-main);
}

.accordeons {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.flex_box {
  display: flex;
  align-items: center;
}

.lesson_wrapper {
  display: flex;
  .exam_overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    box-shadow:
      -1px -1px 2px 0px #ffffff4d,
      1px 1px 2px 0px #d6d6d680,
      1px -1px 2px 0px #d6d6d633 inset,
      -1px 1px 2px 0px #d6d6d633 inset,
      1px 1px 2px 0px #ffffffe5 inset,
      -1px -1px 3px 0px #d6d6d6e5 inset;
    .content {
      width: 330px;
      display: flex;
      flex-direction: column;
      .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
    }
  }
  .list,
  .text_of_the_lesson {
    width: 100%;
    overflow: auto;
    padding-right: 10px;
  }
  .wrapper {
    margin-top: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .text_of_the_lesson {
    position: relative;
    margin: 10px 0px;
    padding: 9px;
    padding-left: 0px;
  }
}

.questions {
  .input_wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background: variables.$theme-color-white-smoke;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.tube_spinner_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.core_program_wrapper {
  width: 100%;
  padding: 40px 30px;
  margin-top: 50px;
  background: var(--mui-palette-primary-main);
  border-radius: 20px;
  .certificate_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .card {
      max-width: 600px;
      padding: 30px;
      background: var(--mui-palette-common-white);
      border-radius: 20px;
    }
  }
}

@media (min-width: variables.$theme-breakpoint-xs) {
  .page {
    padding: 20px 30px;
  }
  .courses_wrapper {
    gap: 30px;
  }
  .lesson_wrapper {
    min-height: 400px;
    gap: 30px;
    iframe,
    .exam_overview {
      width: 100%;
      height: 400px;
    }
    .exam_overview {
      gap: 30px;
      .content {
        gap: 20px;
      }
    }
    .list {
      max-height: 325px;
      margin-top: 25px;
    }
    .text_of_the_lesson {
      max-height: 285px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-sm) {
}
@media (min-width: variables.$theme-breakpoint-md) {
  .page {
    padding: 20px 50px;
  }
  .courses_wrapper {
    gap: 50px;
  }
  .lesson_wrapper {
    min-height: 440px;
    gap: 50px;
    flex-direction: column;
    iframe,
    .exam_overview {
      width: 100%;
      height: 70vh;
    }
    .exam_overview {
      gap: 50px;
      .content {
        gap: 32px;
      }
    }
    .list {
      max-height: 365px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-lg) {
  .lesson_wrapper {
    min-height: 550px;
    gap: 50px;
    iframe,
    .exam_overview {
      width: calc(60% - 25px);
      height: 550px;
    }
  }
}
@media (min-width: variables.$theme-breakpoint-xl) {
}
